.challenge-box {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  box-shadow: 0px 0px 60px rgba(0, 0, 0, 0.05);
}

.challenge-box h3 {
  font-size: 2.4rem;
  font-weight: 500;
  color: var(--text);
  text-align: center;
  line-height: 3.4rem;
}

.challenge-box img {
  margin-top: 64px;
}

.challenge-box p {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 2.6rem;
  font-weight: 400;
  text-align: center;
}

.challenge-box.challenge-active {
  justify-content: stretch;
  align-items: center;
  padding: 0 64px 32px 64px;
}

.challenge-box.challenge-active header {
  padding: 25px 0;
  border-bottom: 1px solid var(--gray-line);
  width: 100%;
}

.challenge-box.challenge-active header p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--blue);
}

.challenge-box.challenge-active .challenge {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.challenge-box.challenge-active .challenge h3 {
  font-size: 3rem;
  color: var(--title);
  font-weight: 600;
  margin-top: 24px;
}

.challenge-box.challenge-active .challenge p {
  font-size: 1.6rem;
  color: var(--text);
  font-weight: 400;
  margin-top: 8px;
}

.challenge-box.challenge-active .button-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  margin-top: 38px;
}

.challenge-box.challenge-active .button-container button {
  padding: 16px 0;
  border-radius: 5px;
  border: 0;
  color: var(--white);
  font-size: 1.6rem;
  font-weight: 600;
  transition: filter 0.4s ease;
}

.challenge-box.challenge-active .button-container button:hover {
  filter: brightness(0.9);
}

.challenge-box.challenge-active .button-container button.failed {
  background-color: var(--red);
}

.challenge-box.challenge-active .button-container button.succeeded {
  background-color: var(--green);
}
