.experience-bar {
  display: flex;
  align-items: center;
  padding: 4rem 0;
}

.experience-bar > div {
  flex: 1;
  background-color: var(--gray-line);
  margin: 0 24px;
  position: relative;
}

.experience-bar > div > div {
  background-color: var(--green);
  width: 0;
  height: 4px;
  border-radius: 4px;
}

.experience-bar span {
  font-size: 1.4rem;
}

.experience-bar .current-experience {
  position: absolute;
  top: 8px;
  left: 0;
  transform: translateX(-50%);
}
